{% extends "::base.html.twig" %}

{% block publication %}

	{{ form_start(form)}}
 	{{ form_widget(form.Name) }}
	{{ form_rest(form)}}

{% endblock %}
{% block leftmenu %}
 <div class="row content">
      <ul class="nav nav-pills nav-stacked">
        <a class="btn  btn--icon  btn--add navbar-custom" href="{{ path('publication_index')}}"><span class="navbar-leftmenu-text">Liste</span><i><span class="glyphicon glyphicon-th-list" style="font-size: 35px;"></span></i></a>
        <a class="btn  btn--icon  btn--add navbar-custom" href="{{ path('publication_create')}}"><span class="navbar-leftmenu-text">Creer</span><i><span class="glyphicon glyphicon-plus-sign" style="font-size: 35px;"></span></i></a>
      </ul>
  </div>
{% endblock %}
