{% extends "::base.html.twig" %}
{% block publication %}
{% if is_granted('ROLE_ADMIN') %}
<script type="text/javascript">
    var sheet = {{ sheet.name }};
</script>
  	    <div class='spiralContainer' style="float: left"><div class='spiral'></div></div><div><h1>Publications</h1></div>
    {% for sheet in sheets %}
    <nav class="navbar navbar-custom-publication publication-container-collapse" style="background-color: #000000>
      <button class="btn" data-toggle="collapse" data-target="#demo{{sheet.name}}"><i><span id="collapse-span" class="glyphicon glyphicon-menu-down"  style="font-size: 35px;color: black;"></span></i>
      <p class="publication-text-collapse">{{sheet.name}}</p></button>
      <div id="demo{{sheet.name}}" class="collapse">
    	    <div class="block_publication">
              <a class="btn  btn--icon  btn--delete" href="{{ path('publication_delete', {'id': sheet.id }) }}"><i><span class="glyphicon glyphicon-trash" id="remove"></span></i><span>Delete</span></a>
        	   <img class="img-responsive center-block"
            	src="{{ asset(sheet.image.webPath) }}"
            	alt="{{ sheet.image.alt }}"
          	/>
        	  <h4 style="text-align:center;">{{sheet.etape1|nl2br}}</h4></br>
		      </div>
      </div>
    </nav>
		</br>
    {% endfor %}
{% endif %}
{% endblock %}
{% block leftmenu %}
  <div class="row content">
      <ul class="nav nav-pills nav-stacked">
        <a class="btn  btn--icon  btn--add navbar-custom" href="{{ path('publication_index')}}"><span class="navbar-leftmenu-text">Liste</span><i><span class="glyphicon glyphicon-th-list" style="font-size: 35px;"></span></i></a>
        <a class="btn  btn--icon  btn--add navbar-custom" href="{{ path('publication_create')}}"><span class="navbar-leftmenu-text">Creer</span><i><span class="glyphicon glyphicon-plus-sign" style="font-size: 35px;"></span></i></a>
      </ul>
  </div>
{% endblock %}

