{% extends "::base.html.twig" %}
    {% block leftmenu%}
    <ul class="nav navbar-nav">
        <li><a href="{{path('publication_create')}}">Ajouter une publication</a></li>
        <li><a href="{{path('publication_index')}}"></a></li>
    </ul>
    {% endblock %}
{% block publication %}
{% if is_granted('ROLE_ADMIN') %}
  	<h3 style="text-align: center;"> PUBLICATIONS </h3>
	<a href="{{ path('publication_create')}}">Créer une publication</a></br>
    {% for sheet in sheets %}
    	<div class="block_publication">
            <a class="btn  btn--icon  btn--delete" href="{{ path('publication_delete', {'id': sheet.id }) }}"><i>×</i><span>Delete</span></a>
        	<h3 style="text-align: center;">{{sheet.name}}</h3>
        	<img class="img-responsive center-block"
            	src="{{ asset(sheet.image.webPath) }}"
            	alt="{{ sheet.image.alt }}"
          	/>
        	<h4 style="text-align:center;">{{sheet.etape1|nl2br}}</h4></br>
		</div>
		</br>
    {% endfor %}
{% endif %}
{% endblock %}
