{% extends 'base.html.twig' %}

{% block event %}
    <div class='spiralContainer' style="float: left"><div class='spiral'></div></div><div><h1>Créer un évenement</h1></div>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}     
        <a href="" class="btn2  btn2--icon  btn2--add navbar-custom"><span class="button-text"><input class="" type="submit" value="Créer" style="border: none;background-color: #4876BF;" /></span><i><span class="glyphicon glyphicon-plus-sign" style="font-size: 25px;"></span></i></a></br>
    {{ form_end(form) }}
{% endblock %}
{% block leftmenu %}
   <div class="row content">
      <ul class="nav nav-pills nav-stacked">
        <a class="btn  btn--icon  btn--add navbar-custom" href="{{ path('event_index')}}"><span class="navbar-leftmenu-text">Liste</span><i><span class="glyphicon glyphicon-th-list" style="font-size: 35px;"></span></i></a>
        <a class="btn  btn--icon  btn--add navbar-custom" href="{{ path('event_new')}}"><span class="navbar-leftmenu-text">Creer</span><i><span class="glyphicon glyphicon-plus-sign" style="font-size: 35px;"></span></i></a>
      </ul>
  </div>
{% endblock %}