{% extends 'base.html.twig' %}

{% block event %}
    <h1>Evenements</h1>
        <a href="{{ path('evenement_new') }}">Créer un nouvel évenement</a>
        {% for evenement in evenements %}
            <div class="well">
                <h3 style="text-align: center;">{{ evenement.name }}</h3>
                <div class="well" style="background-color: white;">
                    <h3>{{ evenement.message }}</h3>
                </div>
                <a href="{{ path('evenement_show', { 'id': evenement.id }) }}">Voir</a></br>
                <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}">Editer</a>
            </div>
        {% endfor %}
{% endblock %}
