{% extends 'base.html.twig' %}

{% block event %}
    <h1>Evenements</h1>
        <a href="{{ path('evenement_new') }}">Créer un nouvel évenement</a>
        {% for evenement in evenements %}
            <div class="well">
                <h3 style="text-align: center;">{{ evenement.name }}</h3>
                <div class="well" style="background-color: white;">
                    <h3>{{ evenement.message }}</h3>
                </div>
                <a href="{{ path('evenement_show', { 'id': evenement.id }) }}">Voir</a></br>
                <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}">Editer</a>
            </div>
        {% endfor %}
{% endblock %}
{% block leftmenu %}
  <div class="row content">
      <ul class="nav nav-pills nav-stacked">
        <a class="btn  btn--icon  btn--add" href="{{ path('evenement_index')}}"><i>+</i><span>Liste des events</span></a>
        <a class="btn  btn--icon  btn--add" href="{{ path('evenement_new')}}"><i>+</i><span>Creer un event</span></a>
        <a class="btn  btn--icon  btn--add" href="{{ path('evenement_new')}}"><i>+</i><span>Event du jour</span></a>
      </ul>
  </div>
{% endblock %}