{% extends 'base.html.twig' %}

{% block event %}
    <h1>Créer un évenement</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('evenement_index') }}">Revenir à la liste</a>
        </li>
    </ul>
{% endblock %}
{% block leftmenu %}
  <div class="row content">
      <ul class="nav nav-pills nav-stacked">
        <a class="btn  btn--icon  btn--add" href="{{ path('evenement_index')}}"><i><span class="glyphicon glyphicon-th-list"></span></i><span>Liste</span></a>
        <a class="btn  btn--icon  btn--add" href="{{ path('evenement_new')}}"><i><span class="glyphicon glyphicon-plus-sign"></span></i><span>Creer un event</span></a>
        <a class="btn  btn--icon  btn--add" href="{{ path('evenement_new')}}"><i><span class="glyphicon glyphicon-plus-sign"></span></i><span>Event du jour</span></a>
      </ul>
  </div>
{% endblock %}
