{% extends 'base.html.twig' %}

{% block event %}
    <div class="well">
        <h1>{{ evenement.name }}</h1>
        <div class="well">
            {{ evenement.message }}
        </div>
        <a href="{{ path('evenement_index') }}">Revenir à la liste</a></br>
        <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}">Modifier</a>
         {{ form_start(delete_form) }}
             <input type="submit" value="Delete" class="btn btn-danger">
         {{ form_end(delete_form) }}
    </div>
{% endblock %}
{% block leftmenu %}
  <div class="row content">
      <ul class="nav nav-pills nav-stacked">
        <a class="btn  btn--icon  btn--add" href="{{ path('evenement_index')}}"><i><span class="glyphicon glyphicon-th-list"></span></i><span>Liste</span></a>
        <a class="btn  btn--icon  btn--add" href="{{ path('evenement_new')}}"><i><span class="glyphicon glyphicon-plus-sign"></span></i><span>Creer un event</span></a>
        <a class="btn  btn--icon  btn--add" href="{{ path('evenement_new')}}"><i><span class="glyphicon glyphicon-plus-sign"></span></i><span>Event du jour</span></a>
      </ul>
  </div>
{% endblock %}